<br><br><hr>
<div class="pagination">
    <div class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </div>
    <br>
    <div class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        {% for item in paginator.page_range %}
            <a href="?page={{ item }}"> {{ item }} </a>
        {% endfor %}



        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
</div>